*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type:none ;
    transition: all .3s linear;
}
body{
    font-family: Raleway;
    background-color: #F6F3FF;

}
img{
    height: 100%;
    width: 100%;
}
.container{
    max-width: 1680px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
    @media(max-width:1650px){
        padding-left: 100px;
        padding-right: 100px;
    }
    @media(max-width:1450px){
        padding-left: 50px;
        padding-right: 50px;
    }
    @media(max-width:900px){
        padding-left: 20px;
        padding-right: 20px;
    }
    @media(max-width:640px){
        padding-left: 10px;
        padding-right: 10px;
    }
}
.h1{
    color: #34333C;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    @media(max-width:1850px){
        font-size: 60px;
    }
    @media(max-width:900px){
        font-size: 50px;
    }
    span{
        color: #34333C;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Raleway;
        font-size: 115px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        background: var(--accent-gradient, linear-gradient(317deg, #4526DC 6.37%, #8066FF 93.57%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media(max-width:1850px){
            font-size: 95px;
        }
        @media(max-width:900px){
            font-size: 65px;
        }
    }


}
.h2{
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    @media(max-width:1650px){
        font-size: 45px;
    }
    @media(max-width:900px){
        font-size: 30px;
    }
    span{
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 65px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        background:  linear-gradient(317deg, #4526DC 6.37%, #8066FF 93.57%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media(max-width:1650px){
            font-size: 45px;
        }
        @media(max-width:900px){
            font-size: 30px;
        }
    }
}
.h3{
    color: #4C30F6;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media(max-width:1450px){
        font-size: 24px;
    }
    @media(max-width:900px){
        font-size: 16px;
    }

}
.email-link{
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    background: var(--accent-gradient, linear-gradient(317deg, #4526DC 6.37%, #8066FF 93.57%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variant-numeric: lining-nums proportional-nums;
}

.button-zero{
    padding: 0;
    margin: 0;
    border: none;
    font-family: inherit;
    background-color: inherit;
    cursor: pointer;
}
.button-main{
    border-radius: 10px;
    background: linear-gradient(317deg, #4526DC 6.37%, #8066FF 93.57%);
    padding: 15px 30px;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant-numeric: lining-nums proportional-nums;
    color: #FFFFFF;
    &:hover{
        background: linear-gradient(0deg, rgba(52, 51, 60, 0.30) 0%, rgba(52, 51, 60, 0.30) 100%), linear-gradient(317deg, #4526DC 6.37%, #8066FF 93.57%);
    }
    &:disabled{
        background: #717177;
        cursor: inherit;
    }
    @media(max-width:900px){
        font-size: 12px;
    }
}
.text{
    color:#34333C;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    a{
        text-decoration: underline;
    }
    @media(max-width:1450px){
        font-size: 14px;
    }
    @media(max-width:900px){
        font-size: 12px;
    }
}
.link{
    color: #34333C;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: underline;
    @media(max-width:1450px){
        font-size: 14px;
    }
    @media(max-width:900px){
        font-size: 12px;
    }
}

.nav-link{

}
.social-link{
    background: linear-gradient(317deg, #4526DC 6.37%, #8066FF 93.57%);;
    display: block;
    border-radius: 10px;
    transition: background 1s linear;
    height: 32px;
    width: 32px;
    svg{
        height: 100%;
        width: 100%;
    }
    &:hover{
        background:linear-gradient(0deg, rgba(52, 51, 60, 0.30) 0%, rgba(52, 51, 60, 0.30) 100%), linear-gradient(317deg, #4526DC 6.37%, #8066FF 93.57%);
        transition: background 1s linear;
    }
}
.menu-link{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:  #34333C;
    font-variant-numeric: lining-nums proportional-nums;
    @media(max-width:900px){
        font-size: 16px;
    }
}
.change-language__items{
    //  display: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 14px 0px rgba(124, 114, 139, 0.20);
    background-color: #F6F3FF;
    z-index: 2;
    background-color: #F6F3FF;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 92%;
    border-radius: 0 0 10px 10px;
}
.change-language__container{
    border-radius: 10px;
    position: relative;
    &:hover{
        box-shadow: 0px 4px 14px 0px rgba(124, 114, 139, 0.20);
        border-radius: 10px 10px 0 0;
        .change-language__items{
            display: block;
            max-height: fit-content;
        }
        .language-button_chosen::after{
            transform: rotate(180deg);
        }
    }

}
.language-button{
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    color:#34333C;
    &:hover{
        color: #4C30F6;
    }
    &_chosen{
        &:after{
            content: '';
            display: block;
            height: 16px;
            width: 16px;
            margin-left: 10px;
            background-image: url(../images/arrow.png);
        }
    }
    &_active{
        background: var(--accent-gradient, linear-gradient(317deg, #4526DC 6.37%, #8066FF 93.57%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.logo{
    width: 139px;
    height: 36px;
    svg{
        height: 100%;
        width: 100%;
    }
    @media(max-width:1450px){
        width: 116px;
        height: 30px;
    }
    @media(max-width:900px){
        width: 64px;
        height: 16px;
    }
}
.colored-substrate{
    background-color: #FFFFFF;
    border-radius: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    @media(max-width:1450px){
        padding-top: 80px;
        padding-bottom: 80px;
        border-radius: 80px;
    }
    @media(max-width:900px){
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 20px;
    }
    @media(max-width:640px){
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.description{
    color: #34333C;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    @media(max-width:1450px){
        font-size: 24px;
    }
    @media(max-width:900px){
        font-size:16px
    }
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form__input{}
.form__input_name{}
.form__input_tel{}
.form__input_email{}
// .{}
// .{}
// .{}
// .{}