.tuning{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding-bottom: 150px;
    @media(max-width:1450px){
        grid-gap: 15px;
        padding-bottom: 130px;
    }
    @media(max-width:900px){
        grid-gap: 10px;
        padding-bottom: 80px;
    }
    @media(max-width:640px){
        padding-bottom: 60px;
    }
}
.tuning__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width:1200px){
        font-size: 40px;
        span{
            font-size: 40px;
        }
    }
}
.tuning__item{
    padding: 30px;
    background-color: #F5F5F5;
    border-radius: 20px;
    @media(max-width:900px){
        padding: 15px 15px 25px 15px;
        border-radius: 10px;
    }
}
.tuning__icon{
    svg{
        height: 100%;
        width: 100%;
    }
    height: 50px;
    width: 50px;
    @media(max-width:1450px){
        height: 40px;
        width: 40px;
    }
    @media(max-width:900px){
        height: 30px;
        width: 30px;
    }
}
.tuning__subtitle{
    padding-top: 15px;
    padding-bottom: 10px;
    @media(max-width:1450px){
        padding-bottom: 5px;
    }
    @media(max-width:900px){
        padding-top: 10px;
    }
}
.tuning__swiper{
    display: none;
}
@media(max-width:700px){
    .tuning__item_dextop{
        display: none;
    }
    .tuning{
        display: block;
    }
    .tuning__swiper{
        display: block;
    }
}
